// $primary:#0080ff;
$primary:#2843ff;
$secondary:#10a0bd;
$dashboard-color:#13171a;
$bg-divider: #f8f7f7;
$btn:#6366f1;
$btnHover:#4338ca;
$transition:0.2s;
$rounded:8px;
$border:#ebedf2;
$light:#9b9ca1;
